/**** main.css ****/

.h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
.h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}
.h3 {
	font-size: 1.17em;
	margin: 1em 0;
}
.h4 {
	margin: 1.33em 0;
}
body {
	font-family: Helvetica, Arial, sans-serif;
}
.header {
	background-image: url(../images/Green-mtn-selfie-banner.jpg);
	background-size: cover;
	color: #795548;
	text-align: center;
}
.header__logo {
	height: 150px;
	width: 150px;
	margin: auto auto 10px;
	font-family: "Racing Sans One", sans-serif;
	font-size: 160px;
	text-shadow: 2px 2px 4px black;
}
.header__sub-title {
	padding-bottom: 30px;
}
.section {
	width: 60%;
	margin: 0 auto;
}
.separator {
	text-align: center;
	margin: 40px auto;
}
