/**** main.css ****/

.h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
.h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}
.h3 {
	font-size: 1.17em;
	margin: 1em 0;
}
.h4 {
	margin: 1.33em 0;
}
body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
}
a {
	text-decoration: none;
	font-weight: bold;
}

/* resets */
*,
*:before,
*:after {
	box-sizing: border-box;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* grid */
.row {
	margin: 0 -10px;
	margin-bottom: 20px;
}
.row:last-child {
	margin-bottom: 0;
}
[class*="col-"] {
	padding: 10px;
}

@media all and ( min-width: 600px ) {

	.col-2-3 {
		float: left;
		width: 66.66%;
  }
	.col-1-2 {
		float: left;
		width: 50%;
  }
	.col-1-3 {
		float: left;
		width: 33.33%;
  }
	.col-1-4 {
		float: left;
		width: 25%;
  }
	.col-1-8 {
		float: left;
		width: 12.5%;
  }

}

/* inside gutters */
[class*='col-'] {
	padding-right: 20px;
}
[class*='col-']:last-of-type {
	padding-right: 0;
}

/* outside gutters */
.grid-pad {
	padding: 20px 0 20px 20px;
}
.grid-pad > [class*='col-']:last-of-type {
	padding-right: 20px;
}

.header {
	background-image: url(../images/Green-mtn-selfie-banner.jpg);
	background-size: cover;
	color: #E85D2A;
	text-align: center;
	border-bottom: 6px solid #E85D2A;
}
.header__logo {
	height: 150px;
	width: 150px;
	margin: auto auto 10px;
	font-family: "Racing Sans One", sans-serif;
	font-size: 160px;
	text-shadow: 2px 2px 4px black;
}
.header__sub-title {
	padding-bottom: 30px;
}

section:nth-of-type(even) {
	background-color: #ADD1F3;
	border-bottom: 6px solid #E85D2A;
}
.section__content {
	line-height: 1.67em;
}
.section__introduction {
	width: 80%;
	margin: 0 auto;
}
.section__introduction a {
	color: #7C98D9;
}
.section__project img {
	width: 100%;
	padding: 72px 0 0;
}
/*.section__project h2 {
	padding-top: 20px;
}*/
/*.section__project--bkg-brown {
	background-color: #C5B6B1;
}
.section__project--bkg-img {
	background-image: url(../images/capstone-app_Screenshot-big.png);
	background-size: cover;
}*/
.button {
	background-color: #DF8F2B; /* Green 4CAF50 */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
/* Grow from hover.css */
.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
	transform: scale(1.1);
}

.separator {
	text-align: center;
	margin: 100px auto;
	color: #795548;
}

/* footer styles */
.footer {
	padding: 4em 0;
	background-color: #826A4C; /* 795548 */
	text-align: center;
	border-bottom: 6px solid #E85D2A;
}
.footer p {
	color: #fff;
}
.social > li {
	display: inline-block;
	padding-right: 1.5rem;
}
.footer a,
.footer a:visited {
	color: #392822;
}
.footer a:hover {
	color: #DF8F2B;
}
